<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">관리자</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
		<!--
    <a href="/mgmt/admin/insert_form" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#myModal">관리자 추가</a>
		<a href="javascript:$('#myModal .modal-content').load('/mgmt/admin/insert_form',function(e){$('#myModal').modal('show');});" class="btn btn-sm btn-outline-dark">관리자 추가</a>
		검색어 : bootstrap modal load dynamic content
		https://stackoverflow.com/questions/21863462/bootstrap-modal-dynamic-content
		-->
		<a href="javascript:show_dialog('/mgmt/admin/insert_form');" class="btn btn-sm btn-outline-dark">관리자 추가</a>
  </div>
</div>

<table class="table table-hover table-sm">
<thead>
<tr>
  <th style="text-align: center">아이디</th>
  <th style="text-align: center">별명</th>
  <th style="text-align: center">핸드폰</th>
  <th style="text-align: center">수정/삭제</th>
</tr>
</thead>
<tbody>
{{range .Admins}}
<tr>
  <td style="text-align: center">{{.Userid}}</td>
  <td style="text-align: center">{{.Nick}} &nbsp;</td>
  <td style="text-align: center">{{.Phone}} &nbsp;</td>
  <td style="text-align: center">
    <a href="javascript:show_dialog('/mgmt/admin/chg_passwd_form/{{.Id}}');" class="btn btn-sm btn-outline-dark">비밀번호변경</a>
    <a href="/mgmt/admin/update_form/{{.Id}}" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal">수정</a>
    <button onclick="delete_admin('/mgmt/admin/delete/{{.Id}}')" class="btn btn-sm btn-outline-dark">삭제</button>
  </td>
</tr>
{{end}}
</tbody>
</table>
 
<div id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    </div>
  </div>
</div>
 
<script>
// Modal Remote Reload
$(document).on('hidden.bs.modal', function (e) {
    $(e.target).removeData('bs.modal');
})
</script>

<!--
<script>
function show_dialog(url) {
		$('#myModal .modal-content').load(url, function(e){
			  $('#myModal').modal('show');
		});
}

function delete_admin(url) {
    var result = confirm("관리자를 정말로 삭제하시겠습니까?");
    if( result == false ) return;
    location.href = url;
}
</script>
-->

