<div class="modal-header">
  <h5 class="modal-title">관리자 수정</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form name="update_form" action="/mgmt/admin/update" method="post">
    <div style="text-align: left; padding-bottom: 10px;">
      <label>아이디</label>
      <input type="text" name="userid" class="form-control" readonly required pattern="[a-zA-Z0-9]+" value="{{ .Admin.Userid }}"/>
      <input type="hidden" name="id" class="form-control" value="{{ .Admin.Id }}" />
    </div>
    <div style="text-align: left; padding-bottom: 10px;">
      <label>별명 <small>(필수)</small></label>
      <input type="text" name="nick" class="form-control" required value="{{ .Admin.Nick }}"/>
    </div>
    <div style="text-align: left; padding-bottom: 10px;">
      <label>핸드폰</label>
      <input type="text" name="phone" class="form-control" required value="{{ .Admin.Phone }}"/>
    </div>
		<br>
    <div class="form-group" style="text-align: right">
      <input class="btn btn-primary" type="submit" value="관리자 수정" />
    </div>
  </form>
</div>
