<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">설정</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
		<!--
    <a href="/mgmt/admin/insert_form" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#myModal">관리자 추가</a>
		<a href="javascript:$('#myModal .modal-content').load('/mgmt/admin/insert_form',function(e){$('#myModal').modal('show');});" class="btn btn-sm btn-outline-dark">관리자 추가</a>
		검색어 : bootstrap modal load dynamic content
		https://stackoverflow.com/questions/21863462/bootstrap-modal-dynamic-content
		-->
  </div>
</div>

<form name="update_form" action="/mgmt/setting/update" method="post">
<table class="table table-hover table-sm">
<thead>
<tr>
  <th style="text-align: center">설정이름</th>
  <th style="text-align: center">값</th>
</tr>
</thead>
<tbody>
<tr>
	<td style="text-align: center">장애알림 사용여부</td>
  <td style="text-align: center">
		<select class="form-control form-control-sm" name="ALARM_USE_YN">
			{{ range .Settings }}
			  {{ if eq .Code "ALARM_USE_YN" }}
				  {{ if eq .Value "Y" }}
			<option value="Y" selected>사용</option>
			<option value="N">미사용</option>
					{{ else }}
			<option value="Y">사용</option>
			<option value="N" selected>미사용</option>
					{{ end }}
				{{ end }}
			{{ end }}
		</select>
	</td>
</tr>
<tr>
  <td style="text-align: center">알림을 위한 장애횟수</td>
  <td style="text-align: center">
    {{ range .Settings }}
      {{ if eq .Code "ERR_CNT_FOR_ALARM" }}
    <input type="number" class="form-control form-control-sm" min='1' max='30' name="ERR_CNT_FOR_ALARM" value="{{ .Value }}">
      {{ end }}
    {{ end }}
	</td>
</tr>
<tr>
  <td style="text-align: center">Slack 사용여부</td>
  <td style="text-align: center">
		<select class="form-control form-control-sm" name="SLACK_USE_YN">
      {{ range .Settings }}
        {{ if eq .Code "SLACK_USE_YN" }}
          {{ if eq .Value "Y" }}
      <option value="Y" selected>사용</option>
      <option value="N">미사용</option>
          {{ else }}
      <option value="Y">사용</option>
      <option value="N" selected>미사용</option>
          {{ end }}
        {{ end }}
      {{ end }}
		</select>
	</td>
</tr>
<tr>
  <td style="text-align: center">Slack 채널</td>
  <td style="text-align: center">
    {{ range .Settings }}
      {{ if eq .Code "SLACK_CHANNEL" }}
		<input type="text" class="form-control form-control-sm" name="SLACK_CHANNEL" value="{{ .Value }}">
      {{ end }}
    {{ end }}
	</td>
</tr>
<tr>
  <td style="text-align: center">Slack Webhook URL</td>
  <td style="text-align: center">
    {{ range .Settings }}
      {{ if eq .Code "SLACK_TOKEN" }}
		<input type="text" class="form-control form-control-sm" name="SLACK_TOKEN" value="{{ .Value }}">
      {{ end }}
    {{ end }}
	</td>
</tr>
<tr>
  <td style="text-align: center">Slack 사용자이름</td>
  <td style="text-align: center">
    {{ range .Settings }}
      {{ if eq .Code "SLACK_USERNAME" }}
		<input type="text" class="form-control form-control-sm" name="SLACK_USERNAME" value="{{ .Value }}">
      {{ end }}
    {{ end }}
	</td>
</tr>
<tr>
  <td style="text-align: center">장애로그 저장일</td>
  <td style="text-align: center">
    {{ range .Settings }}
      {{ if eq .Code "ERR_LOG_SAVE_DAYS" }}
		<input type="number" min="30" max="1000" class="form-control form-control-sm" name="ERR_LOG_SAVE_DAYS" value="{{ .Value }}">
      {{ end }}
    {{ end }}
	</td>
</tr>
</tbody>
</table>
<input type="submit" class="btn btn-sm btn-outline-dark" value="설정 저장">
</form>
